.wrapper {
  width: 980px;
  margin: 40px auto;
  text-align: center;
}
.tick-icon {
  svg {
    font-size: 70px;
    color: var(--primary-color);
  }
  margin-bottom: 20px;
}

.content-success {
  margin: 20px 0;
}

.btn-actions {
  margin: 0 5px;
}
.back-home {
  margin-top: 20px;
}

.icon-back {
  font-size: 13px;
  margin-right: 3px;
}

.back-to-home {
  transition: 0.3s;
  font-size: 14px;

  &:hover {
    color: var(--primary-color);
  }
}
